# Web Framework
Flask
Flask-Cors

# Core Data Science
numpy
pandas
scikit-learn
scipy
imblearn
ucimlrepo
statsmodels
joblib

# Visualization
matplotlib
seaborn
plotly

# Data Handling / APIs
requests

# Data
ucimlrepo